.nav-container {
    flex-basis: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
    height: 60px;
}

nav a,
nav a:visited {
    text-decoration: none;
}

.active-menu-link {
    color: darkslategrey;
    background-color: tomato;
    border-radius: 10px;
}

.default-menu-link {
    color: darkslategrey;
}

nav a:hover {
    color: white;
}

ul {
    list-style-type: none;
    flex-basis: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Copperplate Gothic Light", sans-serif;
}