
.blog-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Copperplate Gothic Light", sans-serif;
    color: darkgray;
}

.blog-article p {
    width: 50%;
    line-height: 2.0;
}

.login-error {
    font-family: "Copperplate Gothic Light", sans-serif;
    color: indianred;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.login-error a {
    text-decoration: none;
    color: dimgray;
}

.login-error a:hover {
    background-color: orange;
    border-radius: 30px;
}